body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  /*100% = 16px , hence ,if we want 90px , 16 *  90 = 562.5*/
  /* 16px = 1em */
  font-family: 'Sacramento', cursive;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  /*position: relative;*/
  padding: 100px;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  /*left-margin : 300px;
  bottom-margin : 300px;*/
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}



a {
  color: #11999E;
}

.skill-row {
  width : 50%;
  margin :100px auto 100px auto;
  text-align: left;
}

.girl-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.computer-image {
  width: 25% ;
  float: left;
  margin-right : 30px;
}




p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 2;
}
