

body{
  margin: 0 ;
  text-align: center;
  font-family:'Merriweather',serif;

}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 20;

}

h2 {
  font-family:'Montserrat', sans-serif;
}

h3{
  font-family:'Montserrat', sans-serif;
}

.top-container{
  background-color: #E4F9F5;
  /*position: relative;*/
  height:650px;
}

.middle-container{

}

.bottom-container{

}

.bottom-cloud{
  position: absolute;
  /*left-margin : 300px;
  bottom-margin : 300px;*/

}

.top-cloud{
  position: absolute;
  right : 300px;
  top : 50px;
}

p{
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
}
